*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
textarea {
  border-radius: 0;
  background: transparent;
}

footer {
  margin-top: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  body {
    background-color: hsl(235, 18%, 26%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  main {
    padding: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    width: 36rem;
    overflow: hidden;
    border-radius: 32px;
  }
}
@media (min-width: 1024px) {
  main {
    width: 58.125rem;
    height: 40.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .banner {
    order: 1;
  }
  footer {
    position: absolute;
    bottom: 0;
    margin-top: 0;
  }
}
body {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.5;
  color: hsl(234, 29%, 20%);
}

h1,
h2 {
  font-weight: 700;
  font-size: 2.5rem;
}

label,
.signup-form__error {
  margin-bottom: 0.688rem;
  font-weight: 700;
  font-size: 0.75rem;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  footer {
    color: hsl(0, 0%, 100%);
  }
  footer a {
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
  }
}
@media (min-width: 1024px) {
  h1,
  h2 {
    font-weight: 700;
    font-size: 3.4rem;
  }
}
.banner__image {
  width: 100%;
  max-height: 17.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 16px 16px;
}
.banner__image--desktop {
  display: none;
}

@media (min-width: 768px) {
  .banner__image {
    border-radius: 16px;
  }
}
@media (min-width: 1024px) {
  .banner__image {
    height: 100%;
    max-height: 100%;
  }
  .banner__image--mobile {
    display: none;
  }
  .banner__image--desktop {
    display: block;
  }
}
button {
  position: relative;
  width: 100%;
  background-color: hsl(234, 29%, 20%);
  font-weight: 700;
  padding: 1rem 2.75rem;
  border-radius: 7px;
  overflow: hidden;
  transition: all 200ms ease-out;
}
button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, hsl(346, 100%, 66%), hsl(4, 100%, 67%));
  opacity: 0;
  transition: all 200ms ease-out;
}
button:hover {
  box-shadow: 0 10px 28px hsl(4, 100%, 67%);
}
button:hover::before {
  opacity: 1;
}
button span {
  position: relative;
  color: hsl(0, 0%, 100%);
  z-index: 1;
}

.signup-form__input {
  width: 100%;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 7px;
  padding: 1rem;
  color: hsl(234, 29%, 20%);
  transition: 200ms ease-out;
}
.signup-form__input:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px hsl(234, 29%, 20%);
  background-color: hsl(0, 0%, 100%);
  transition: 200ms ease-out;
}
.signup-form__input--error {
  border-color: transparent;
  box-shadow: 0 0 0 2px hsl(0, 100%, 59%);
  background-color: hsl(0, 100%, 87%);
  transition: 200ms ease-out;
}

.subscription-info {
  padding: 2rem 1.5rem;
}
.subscription-info__description {
  margin-top: 1rem;
}
.subscription-info__list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}
.subscription-info__list-item {
  display: flex;
  align-items: start;
}
.subscription-info__list-item img {
  margin-top: 0.1rem;
  max-width: 1.25rem;
}
.subscription-info__list-item p {
  padding-left: 1rem;
}

@media (min-width: 1024px) {
  .subscription-info {
    padding: 0;
    margin-left: 2.5rem;
    width: 23.5rem;
  }
  .subscription-info__description {
    margin-top: 0.5rem;
  }
  .subscription-info__list {
    margin-bottom: 2.5rem;
  }
}
.signup-form__form {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}
.signup-form__group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.signup-form__group .signup-form__error {
  color: hsl(0, 100%, 59%);
}

.success-message {
  display: none;
  width: 31.625rem;
  padding: 2.875rem 4rem 4rem 4rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 32px;
  gap: 2.5rem;
}
.success-message h2 {
  line-height: 1.1;
}
.success-message .success-message__text {
  margin-top: -1rem;
}/*# sourceMappingURL=main.css.map */