@use "../base/variables" as *;

.signup-form {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .signup-form__error {
      color: $red-color;
    }
  }
}
