.subscription-info {
  padding: 2rem 1.5rem;

  &__description {
    margin-top: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
  }

  &__list-item {
    display: flex;
    align-items: start;

    img {
      margin-top: 0.1rem;
      max-width: 1.25rem;
    }
    p {
      padding-left: 1rem;
    }
  }
}
