@use "../base/variables" as *;

.success-message {
  display: grid;
  padding: 2.875rem 4rem 4rem 4rem;
  background-color: $white-color;
  border-radius: 32px;
  h2 {
    line-height: 1.1;
  }
  .success-message__text {
    margin-top: -1rem;
  }
  gap: 2.5rem;
}

@media (min-width: map-get($breakpoints, "tablet")) {
  .success-message {
    width: 31.625rem;
  }
}
