@use "../base/variables" as *;

footer {
  margin-top: 1rem;
  padding: 1rem;
}

@media (min-width: map-get($breakpoints, "tablet")) {
  body {
    background-color: $charcoal-grey-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  main {
    padding: 1.5rem;
    background-color: $white-color;
    width: 36rem;
    overflow: hidden;
    border-radius: 32px;
  }
}

@media (min-width: map-get($breakpoints, "desktop")) {
  main {
    width: 58.125rem;
    height: 40.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .banner {
      order: 1;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    margin-top: 0;
  }
}
