@use "variables" as *;

body {
  font-family: "Roboto", serif;
  font-size: $font-base;
  line-height: 1.5;
  color: $dark-slate-grey-color;
}

h1,
h2 {
  font-weight: 700;
  font-size: 2.375rem;
}

label {
  font-weight: 700;
  font-size: 0.75rem;
}
